*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}

#header{
  background-color: greenyellow;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgb(61, 61, 61);

 
}

#header nav a{
  color: rgb(138, 138, 138);
  text-decoration: none;
  padding: 20px;
}

h2{
  margin-left:500px;
}